In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline
sns.set()

import warnings
warnings.filterwarnings("ignore")

/Users/hardiksharma/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Step 1 : Load the data

In [2]:
# LINK : https://www.kaggle.com/datasets/samienraahhat/car-dekho-used-cars-price-prediction
data = pd.read_csv("Car.csv", index_col = [0])

In [3]:
data.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

## Step 2 : Data preprocessing

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.6+ MB

In [5]:
# FINDING MISSING VALUES
data.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [6]:
print(data["brand"].value_counts())
print("-----------------------------")
print(data["model"].value_counts())
print("-----------------------------")
print(data["seller_type"].value_counts())
print("-----------------------------")
print(data["fuel_type"].value_counts())
print("-----------------------------")
print(data["transmission_type"].value_counts())
print("-----------------------------")

brand
Maruti           4992
Hyundai          2982
Honda            1485
Mahindra         1011
Toyota            793
Ford              790
Volkswagen        620
Renault           536
BMW               439
Tata              430
Mercedes-Benz     337
Skoda             334
Audi              192
Datsun            170
Jaguar             59
Land Rover         51
Jeep               41
Kia                32
Porsche            21
Volvo              20
MG                 19
Mini               17
Nissan             11
Lexus              10
Isuzu               8
Bentley             3
Maserati            2
ISUZU               2
Ferrari             1
Mercedes-AMG        1
Rolls-Royce         1
Force               1
Name: count, dtype: int64
-----------------------------
model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64
-----------------------------
seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64
-----------------------------
fuel_type
Petrol      7643
Diesel      7419
CNG          301
LPG           44
Electric       4
Name: count, dtype: int64
-----------------------------
transmission_type
Manual       12225
Automatic     3186
Name: count, dtype: int64
-----------------------------

In [7]:
data.drop(["car_name","brand"], axis=1, inplace=True)

## Step 3 : Feature engineering

In [8]:
data.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [9]:
# GETTING THE COUNT OF NUMERICAL FEATURES
numerical_features = [feature for feature in data.columns if data[feature].dtype !='O']
print(len(numerical_features))

7

In [10]:
# GETTING THE COUNT OF CATEGORICAL FEATURES
categorical_features = [feature for feature in data.columns if data[feature].dtype =='O']
print(len(categorical_features))

4

In [11]:
# GETTING THE COUNT OF DISCRETE FEATURES
discrete_features = [feature for feature in numerical_features if len(data[feature].unique())<=25]
print(len(discrete_features))

2

In [12]:
# GETTING THE COUNT OF CONTINUOUS FEATURES
continuous_features = [feature for feature in numerical_features if feature not in discrete_features]
print(len(continuous_features))

5

## Step 5 : Train Test Split

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['model'] = le.fit_transform(data['model'])

In [14]:
from sklearn.model_selection import train_test_split
X = data.drop(["selling_price"], axis=1)
y = data["selling_price"]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25)
X_train.shape, X_test.shape, y_train.shape, y_test.shape,

((11558, 10), (3853, 10), (11558,), (3853,))

In [16]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [17]:
X.columns

Index(['model', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type',
       'transmission_type', 'mileage', 'engine', 'max_power', 'seats'],
      dtype='object')

In [18]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.compose import ColumnTransformer

cat_features = ['seller_type', 'fuel_type','transmission_type']
num_features = [col for col in X.select_dtypes(exclude='object').columns if col != 'model']
label_encoder_columns = ['model']

ohe = OneHotEncoder(drop='first')
scaler = StandardScaler()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",ohe,cat_features),
        ("StandardScaler",scaler,num_features)
    ], remainder='passthrough'

)
print(preprocessor)

X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)

ColumnTransformer(remainder='passthrough',
                  transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 ['seller_type', 'fuel_type',
                                  'transmission_type']),
                                ('StandardScaler', StandardScaler(),
                                 ['vehicle_age', 'km_driven', 'mileage',
                                  'engine', 'max_power', 'seats'])])

## Step 6 : Load the Gradient Boost Model

In [19]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [20]:
models = {
    "GradientBoost" : GradientBoostingRegressor()
}
for i in range(len(list(models))):
    
    model = list(models.values())[i]
    model.fit(X_train_processed,y_train)
    
    y_train_pred = model.predict(X_train_processed)
    y_test_pred = model.predict(X_test_processed)
    
    #TRAINING PERFORMANCE
    train_mae = mean_absolute_error(y_train,y_train_pred)
    train_mse = mean_squared_error(y_train,y_train_pred)
    train_rmse = np.sqrt(train_mse)
    train_score = r2_score(y_train,y_train_pred)
    
    #TESTING PERFORMANCE
    test_mae = mean_absolute_error(y_test,y_test_pred)
    test_mse = mean_squared_error(y_test,y_test_pred)
    test_rmse = np.sqrt(test_mse)
    test_score = r2_score(y_test,y_test_pred)

    
    print(list(models.keys())[i])
    print('Model Performance on Training Data')
    print("- MAE = {:.2f}".format(train_mae))
    print("- MSE = {:.2f}".format(train_mse))
    print("- RMSE = {:.2f}".format(train_rmse))
    print("- R2 Score = {:.2f}".format(train_score))
    
    print('----------------------------------------------------')
    
    
    print('Model Performance on Testing Data')
    print("- MAE = {:.2f}".format(test_mae))
    print("- MSE = {:.2f}".format(test_mse))
    print("- RMSE = {:.2f}".format(test_rmse))
    print("- R2 Score = {:.2f}".format(test_score))
    
    print('====================================================')
    print('\n')

GradientBoost
Model Performance on Training Data
- MAE = 114302.72
- MSE = 44977499799.79
- RMSE = 212078.99
- R2 Score = 0.95
----------------------------------------------------
Model Performance on Testing Data
- MAE = 116957.16
- MSE = 50729806134.54
- RMSE = 225232.78
- R2 Score = 0.92
====================================================

## Step 7 : Hyperparameter tuning

In [21]:
gbm_params = {
    'n_estimators' : [100,200,300,400,500],
    'max_depth' : [5,10,15,20,25],
    'loss' : ['squared_error', 'absolute_error', 'huber', 'quantile'],
    'criterion' : ['friedman_mse', 'squared_error'],
    'learning_rate' : [0.1, 0.2, 0.3, 0.4]
}

In [22]:
randomcv_models = [
    ("GradientBoost", GradientBoostingRegressor(), gbm_params)
]

In [23]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}


for name, model, params in randomcv_models:
    rscv = RandomizedSearchCV(estimator=model, 
                              param_distributions = params, 
                              cv=5, 
                              n_iter=50,
                              scoring='neg_mean_squared_error')
    rscv.fit(X_train_processed,y_train)
    model_param[name]=rscv.best_params_
    
for model_name in model_param:
    print(f"Best Params for {model_name}: ")
    print(model_param[model_name])

Best Params for GradientBoost:
{'n_estimators': 300, 'max_depth': 5, 'loss': 'huber', 'learning_rate': 0.2, 'criterion': 'friedman_mse'}