In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline
sns.set()

import warnings
warnings.filterwarnings("ignore")

/Users/hardiksharma/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Step 1 : Load the data

In [2]:
# LINK : https://www.kaggle.com/datasets/susant4learning/holiday-package-purchase-prediction
data = pd.read_csv("Travel.csv")

In [3]:
data.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

## Step 2 : Data preprocessing

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [5]:
# FINDING MISSING VALUES
data.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [6]:
print(data["Gender"].value_counts())
print("-----------------------------")
print(data["TypeofContact"].value_counts())
print("-----------------------------")
print(data["Occupation"].value_counts())
print("-----------------------------")
print(data["MaritalStatus"].value_counts())
print("-----------------------------")
print(data["Designation"].value_counts())
print("-----------------------------")
print(data["ProductPitched"].value_counts())
print("-----------------------------")

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64
-----------------------------
TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64
-----------------------------
Occupation
Salaried          2368
Small Business    2084
Large Business     434
Free Lancer          2
Name: count, dtype: int64
-----------------------------
MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64
-----------------------------
Designation
Executive         1842
Manager           1732
Senior Manager     742
AVP                342
VP                 230
Name: count, dtype: int64
-----------------------------
ProductPitched
Basic           1842
Deluxe          1732
Standard         742
Super Deluxe     342
King             230
Name: count, dtype: int64
-----------------------------

In [7]:
data['Gender'] = data['Gender'].replace('Fe Male','Female')
data['MaritalStatus'] = data['MaritalStatus'].replace('Single','Unmarried')

In [8]:
## PRINTING THE % OF MISSING VALUES IN EACH FEATURE
features_with_nan = [features for features in data.columns if data[features].isnull().sum()>=1]
for feature in features_with_nan:
    print(feature, np.round(data[feature].isnull().mean()*100,2), '% missing values')

Age 4.62 % missing values
TypeofContact 0.51 % missing values
DurationOfPitch 5.14 % missing values
NumberOfFollowups 0.92 % missing values
PreferredPropertyStar 0.53 % missing values
NumberOfTrips 2.86 % missing values
NumberOfChildrenVisiting 1.35 % missing values
MonthlyIncome 4.77 % missing values

## Step 3 : Imputing Missing Values

In [9]:
# IN OUR CASE, USING MEDIAN FOR NUMERICAL FEATURES AND MODE FOR CATEGORICAL FEATURES
# PLEASE USE THE APPROPRIATE METHOD FOR YOUR DATA. THIS IS FOR EXAMPLE PURPOSES

data.Age.fillna(data.Age.median(), inplace= True)
data.TypeofContact.fillna(data.TypeofContact.mode()[0], inplace= True)
data.DurationOfPitch.fillna(data.DurationOfPitch.median(), inplace= True)
data.NumberOfFollowups.fillna(data.NumberOfFollowups.median(), inplace= True)
data.PreferredPropertyStar.fillna(data.PreferredPropertyStar.mode()[0], inplace= True)
data.NumberOfTrips.fillna(data.NumberOfTrips.median(), inplace= True)
data.NumberOfChildrenVisiting.fillna(data.NumberOfChildrenVisiting.median(), inplace= True)
data.MonthlyIncome.fillna(data.MonthlyIncome.median(), inplace= True)

In [10]:
data.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

## Step 4 : Feature engineering

In [11]:
data.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [12]:
data.drop("CustomerID", inplace=True, axis=1)

In [13]:
data["TotalVisiting"] = data["NumberOfPersonVisiting"] + data["NumberOfChildrenVisiting"]
data.drop(["NumberOfPersonVisiting","NumberOfChildrenVisiting"], inplace=True, axis=1)

In [14]:
# GETTING THE COUNT OF NUMERICAL FEATURES
numerical_features = [feature for feature in data.columns if data[feature].dtype !='O']
print(len(numerical_features))

12

In [15]:
# GETTING THE COUNT OF CATEGORICAL FEATURES
categorical_features = [feature for feature in data.columns if data[feature].dtype =='O']
print(len(categorical_features))

6

In [16]:
# GETTING THE COUNT OF DISCRETE FEATURES
discrete_features = [feature for feature in numerical_features if len(data[feature].unique())<=25]
print(len(discrete_features))

9

In [17]:
# GETTING THE COUNT OF CONTINUOUS FEATURES
continuous_features = [feature for feature in numerical_features if feature not in discrete_features]
print(len(continuous_features))

3

## Step 5 : Train Test Split

In [18]:
from sklearn.model_selection import train_test_split
X = data.drop(["ProdTaken"], axis=1)
y = data["ProdTaken"]

In [19]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25)
X_train.shape, X_test.shape, y_train.shape, y_test.shape,

((3666, 17), (1222, 17), (3666,), (1222,))

In [21]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

cat_features = X.select_dtypes(include='object').columns
num_features = X.select_dtypes(exclude='object').columns

ohe = OneHotEncoder(drop='first')
scaler = StandardScaler()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",ohe,cat_features),
        ("StandardScaler",scaler,num_features)
    ]

)
print(preprocessor)

X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(drop='first'),
                                 Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')),
                                ('StandardScaler', StandardScaler(),
                                 Index(['Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome', 'TotalVisiting'],
      dtype='object'))])

## Step 6 : Load the Random Forest Model

In [22]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_score, recall_score,f1_score, roc_auc_score, roc_curve

In [23]:
models = {
    "Random Forest" : RandomForestClassifier()
}
for i in range(len(list(models))):
    
    model = list(models.values())[i]
    model.fit(X_train_processed,y_train)
    
    y_train_pred = model.predict(X_train_processed)
    y_test_pred = model.predict(X_test_processed)
    
    #TRAINING PERFORMANCE
    train_accuracy = accuracy_score(y_train,y_train_pred)
    train_f1 = f1_score(y_train,y_train_pred, average='macro')
    train_precision = precision_score(y_train,y_train_pred)
    train_recall = recall_score(y_train,y_train_pred)
    train_roc = roc_auc_score(y_train,y_train_pred)
    
    #TESTING PERFORMANCE
    test_accuracy = accuracy_score(y_test,y_test_pred)
    test_f1 = f1_score(y_test,y_test_pred, average='macro')
    test_precision = precision_score(y_test,y_test_pred)
    test_recall = recall_score(y_test,y_test_pred)
    test_roc = roc_auc_score(y_test,y_test_pred)
    
    
    print(list(models.keys())[i])
    print('Model Performance on Training Data')
    print("- Accuracy = {:.2f}".format(train_accuracy))
    print("- F1 Score = {:.2f}".format(train_f1))
    print("- Precision = {:.2f}".format(train_precision))
    print("- Recall = {:.2f}".format(train_recall))
    print("- ROC Score = {:.2f}".format(train_roc))
    
    print('----------------------------------------------------')
    
    
    print('Model Performance on Testing Data')
    print("- Accuracy = {:.2f}".format(test_accuracy))
    print("- F1 Score = {:.2f}".format(test_f1))
    print("- Precision = {:.2f}".format(test_precision))
    print("- Recall = {:.2f}".format(test_recall))
    print("- ROC Score = {:.2f}".format(test_roc))
    
    print('====================================================')
    print('\n')

Random Forest
Model Performance on Training Data
- Accuracy = 1.00
- F1 Score = 1.00
- Precision = 1.00
- Recall = 1.00
- ROC Score = 1.00
----------------------------------------------------
Model Performance on Testing Data
- Accuracy = 0.92
- F1 Score = 0.86
- Precision = 0.91
- Recall = 0.65
- ROC Score = 0.82
====================================================

## Step 7 : Hyperparameter tuning

In [24]:
rf_params = {
    'n_estimators' : [100,200,300,400,500],
    'criterion' : ['gini', 'entropy', 'log_loss'],
    'max_depth' : [1,2,3,4,5,6],
    'max_features' : ['auto', 'sqrt', 'log2'],
}

In [25]:
randomcv_models = [
    ("Random Forest", RandomForestClassifier(), rf_params)
]

In [26]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}


for name, model, params in randomcv_models:
    rscv = RandomizedSearchCV(estimator=model, 
                              param_distributions = params, 
                              cv=5, 
                              n_iter=50,
                              scoring='accuracy')
    rscv.fit(X_train_processed,y_train)
    model_param[name]=rscv.best_params_
    
for model_name in model_param:
    print(f"Best Params for {model_name}: ")
    print(model_param[model_name])

Best Params for Random Forest:
{'n_estimators': 300, 'max_features': 'sqrt', 'max_depth': 6, 'criterion': 'log_loss'}